<div class="container-fluid section section-gray clients">
	<div class="container  mb20">
		<div class="row">
			<h3 class="text-center mb40 text-center">Our Email Discussion Group Clients Include:</h3>
			<div class="col-md-3 mb10 text-center">
				<img src="{{site.baseurl}}/assets/images/HEPA-b.jpg" alt="clients" class="img-responsive">			
			</div>
			<div class="col-md-3 mb10 text-center">
				<img src="{{site.baseurl}}/assets/images/ABSA.png" alt="clients" class="img-responsive">			
			</div>
			<div class="col-md-3 mb10 text-center">
				<img src="{{site.baseurl}}/assets/images/MIDI.jpg" alt="clients" class="img-responsive">			
			</div>
			<div class="col-md-3 mb10 text-center">
				<img src="{{site.baseurl}}/assets/images/NACNS.jpg" alt="clients" class="img-responsive">			
			</div>
		</div>
	</div>
</div>